# Default ignored files
/shelf/
/workspace.xml

# git config --global core.excludesfiles /home/leandro/GNULinux/dotFiles/gitignore_global
#

# vim
[._]*.swap
[._]*swap
[._]*swp

# packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# logs
*.log

# databases
*.sql
*.sqlite

# libreoffice
.~lock.*#

# microsoft office
*.tmp
~$*.doc*
~$*.xls*
*.xlk
~$*.ppt*

# ansi C
*.out

# papers
*.pdf